In [1]:
# Import Dependencies
import pandas as pd

In [9]:
# Reference the file where the CSV is located
marijuana_csv_path = "Colorado_Marijuana_Use_Past_Month.csv"

# Import the data into a Pandas DataFrame 
# Data frame shows the percent of past monthly marijuana use in Colorado. 
marijuna_past_month_df = pd.read_csv(marijuana_csv_path)
marijuna_past_month_df.dropna()
renamed_df = marijuna_past_month_df.rename(columns={"Unnamed: 0":"Age Groups"})
renamed_df.dropna()

,Age_Group,2002–2003,2003–2004,2004–2005,2005–2006,2006–2007,2007–2008,2008–2009,2009–2010,2010–2011,2011–2012,2012–2013,2013–2014,2014-2015,2015-2016,2016-2017
1,12-17,10.6,11.6,10.4,7.0,8.3,9.9,11.1,9.9,10.8,10.9,12.3,14.9,11.13,9.08,9.02
2,18-25,21.9,18.5,21.5,22.9,22.9,24.4,24.8,26.2,28.5,28.5,29.9,31.5,31.75,32.20,31.74
3,>26,6.2,4.3,3.8,4.9,6.5,7.9,7.6,10.0,8.1,6.8,10.4,12.2,14.65,14.00,14.81