In [65]:
import pandas as pd
import glob

path = r'D:\Data_Project\Drug_Data_Years_Zach' # use your path
all_files = glob.glob(path + "/*.csv")


df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True, sort=True)

concatenated_df.head(50)

,age_group,ci_lower,ci_upper,estimate,geography,outcome,year_pair,years
0,12 or Older,0.561499,0.622287,0.592246,Colorado,Alcohol Use in the Past Month,2002-03,NaN
1,12 or Older,0.555057,0.619857,0.587838,Colorado,Alcohol Use in the Past Month,2003-04,NaN
2,12 or Older,0.562016,0.625712,0.594260,Colorado,Alcohol Use in the Past Month,2004-05,NaN
3,12 or Older,0.554280,0.617521,0.586256,Colorado,Alcohol Use in the Past Month,2005-06,NaN
4,12 or Older,0.567890,0.631256,0.599991,Colorado,Alcohol Use in the Past Month,2006-07,NaN
5,12 or Older,0.590627,0.651325,0.621451,Colorado,Alcohol Use in the Past Month,2007-08,NaN
6,12 or Older,0.591432,0.651980,0.622182,Colorado,Alcohol Use in the Past Month,2008-09,NaN
7,12 or Older,0.593090,0.659292,0.626784,Colorado,Alcohol Use in the Past Month,2009-10,NaN
8,12 or Older,0.582345,0.645597,0.614454,Colorado,Alcohol Use in the Past Month,2010-11,NaN
9,12 or Older,0.560483,0.622751,0.591986,Colorado,Alcohol Use in the Past Month,2011-12,NaN
10,12 or Older,0.579449,0.640384,0.610347,Colorado,Alcohol Use in the Past Month,2012-13,NaN
11,12 or Older,0.586914,0.643424,0.615559,Colorado,Alcohol Use in the Past Month,2013-14,NaN
12,12 or Older,0.564005,0.619741,0.592170,Colorado,Alcohol Use in the Past Month,2014-15,NaN
13,12 or Older,0.546564,0.603500,0.575282,Colorado,Alcohol Use in the Past Month,2015-16,NaN
14,12 or Older,0.567720,0.621335,0.594810,Colorado,Alcohol Use in the Past Month,2016-17,NaN
15,12 or Older,0.456392,0.489053,0.472693,Texas,Alcohol Use in the Past Month,2002-03,NaN
16,12 or Older,0.450918,0.484447,0.467646,Texas,Alcohol Use in the Past Month,2003-04,NaN
17,12 or Older,0.469067,0.503322,0.486178,Texas,Alcohol Use in the Past Month,2004-05,NaN
18,12 or Older,0.478511,0.511723,0.495112,Texas,Alcohol Use in the Past Month,2005-06,NaN
19,12 or Older,0.460415,0.493553,0.476959,Texas,Alcohol Use in the Past Month,2006-07,NaN
20,12 or Older,0.453698,0.487089,0.470360,Texas,Alcohol Use in the Past Month,2007-08,NaN
21,12 or Older,0.466582,0.501884,0.484213,Texas,Alcohol Use in the Past Month,2008-09,NaN
22,12 or Older,0.472440,0.510489,0.491452,Texas,Alcohol Use in the Past Month,2009-10,NaN
23,12 or Older,0.478449,0.513743,0.496091,Texas,Alcohol Use in the Past Month,2010-11,NaN
24,12 or Older,0.465020,0.498828,0.481903,Texas,Alcohol Use in the Past Month,2011-12,NaN
25,12 or Older,0.451408,0.482830,0.467086,Texas,Alcohol Use in the Past Month,2012-13,NaN
26,12 or Older,0.457182,0.488336,0.472732,Texas,Alcohol Use in the Past Month,2013-14,NaN
27,12 or Older,0.464263,0.493740,0.478983,Texas,Alcohol Use in the Past Month,2014-15,NaN
28,12 or Older,0.457286,0.485601,0.471420,Texas,Alcohol Use in the Past Month,2015-16,NaN
29,12 or Older,0.457195,0.485314,0.471232,Texas,Alcohol Use in the Past Month,2016-17,NaN
30,12 or Older,0.499304,0.510728,0.505017,United States,Alcohol Use in the Past Month,2002-03,NaN
31,12 or Older,0.496153,0.507192,0.501673,United States,Alcohol Use in the Past Month,2003-04,NaN
32,12 or Older,0.504991,0.516068,0.510531,United States,Alcohol Use in the Past Month,2004-05,NaN
33,12 or Older,0.508240,0.519423,0.513833,United States,Alcohol Use in the Past Month,2005-06,NaN
34,12 or Older,0.504824,0.516606,0.510716,United States,Alcohol Use in the Past Month,2006-07,NaN
35,12 or Older,0.508317,0.519488,0.513904,United States,Alcohol Use in the Past Month,2007-08,NaN
36,12 or Older,0.511759,0.522969,0.517366,United States,Alcohol Use in the Past Month,2008-09,NaN
37,12 or Older,0.512860,0.523933,0.518399,United States,Alcohol Use in the Past Month,2009-10,NaN
38,12 or Older,0.512299,0.523495,0.517899,United States,Alcohol Use in the Past Month,2010-11,NaN
39,12 or Older,0.513947,0.524912,0.519432,United States,Alcohol Use in the Past Month,2011-12,NaN
40,12 or Older,0.515571,0.527089,0.521333,United States,Alcohol Use in the Past Month,2012-13,NaN
41,12 or Older,0.519093,0.529383,0.524241,United States,Alcohol Use in the Past Month,2013-14,NaN
42,12 or Older,0.517110,0.526388,0.521751,United States,Alcohol Use in the Past Month,2014-15,NaN
43,12 or Older,0.507559,0.516620,0.512090,United States,Alcohol Use in the Past Month,2015-16,NaN
44,12 or Older,0.507463,0.516748,0.512107,United States,Alcohol Use in the Past Month,2016-17,NaN
45,12 or Older,0.242190,0.294680,0.267619,Colorado,Cigarette Use in the Past Month,2002-03,NaN
46,12 or Older,0.238683,0.292858,0.264886,Colorado,Cigarette Use in the Past Month,2003-04,NaN
47,12 or Older,0.202671,0.250701,0.225783,Colorado,Cigarette Use in the Past Month,2004-05,NaN
48,12 or Older,0.200400,0.245618,0.222189,Colorado,Cigarette Use in the Past Month,2005-06,NaN
49,12 or Older,0.219312,0.266692,0.242215,Colorado,Cigarette Use in the Past Month,2006-07,NaN

In [4]:
concatenated_df.count()

age_group    317
ci_lower     317
ci_upper     317
estimate     317
geography    317
outcome      317
year_pair    285
years         32
dtype: int64

In [68]:
# Colorado All Ages First Time Marijuana use in the Past Year 
geography_df = concatenated_df.set_index(['geography'])
Colorado_First_Use_df = Colorado_loc.loc[Colorado_loc["outcome"] == "Average Annual Rate of First Use of Marijuana"]
Colorado_First_Use_df.head()

,age_group,outcome,estimate,year_pair
geography,,,,
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.023111,2002-03
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.023776,2003-04
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.020885,2004-05
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.019949,2005-06
Colorado,12 or Older,Average Annual Rate of First Use of Marijuana,0.023716,2006-07

In [63]:
# Colorado Ages 12 or Older Marijuana Use in the Past Month


Colorado_loc = geography_df.loc[["Colorado"], ['age_group', 'outcome', 'estimate', 'year_pair']]
Colorado_df = Colorado_loc.loc[Colorado_loc["outcome"] == "Marijuana Use in the Past Month"]
Colorado_age12 = Colorado_df.loc[Colorado_df["age_group"] == "12 or Older"]
Colorado_age12.drop_duplicates(subset='year_pair', keep="last").head()

             age_group                          outcome  estimate year_pair
geography
Colorado   12 or Older  Marijuana Use in the Past Month  0.084905   2002-03
Colorado   12 or Older  Marijuana Use in the Past Month  0.073297   2003-04
Colorado   12 or Older  Marijuana Use in the Past Month  0.075309   2004-05
Colorado   12 or Older  Marijuana Use in the Past Month  0.077573   2005-06
Colorado   12 or Older  Marijuana Use in the Past Month  0.081342   2006-07